/* Award layout */
.l-award-page .l-container {
	background: url('../img/covers/award.jpg') no-repeat 98% 44px;
	}
.l-award-page .l-wide-context {
	margin-top: 484px;
	}
.l-award-page .l-context {
	margin-top: 250px;
	}

/* Background to reduce cover size */
.l-cover-fix {
	min-height: 400px;
	margin: -31px -108px 0 0;
	padding: 31px 108px 0 0;
	background: #FFF;
	}

/* Award header */
.b-project-header-award {
	min-height: 0;
	margin-bottom: 24px;
	}
	.b-project-header-award .title {
		margin-bottom: 0;
		}
	.b-project-header-award .event {
		position: absolute;
		top: 40px;
		left: 511px;
		width: 140px;
		font-size: 14px;
		line-height: 20px;
		font-weight: bold;
		color: #FFF;
		}
		.b-project-header-award .date {
			display: block;
			width: 200px;
			margin: 0 0 -2px -6px;
			padding: 2px 0 2px 6px;
			background: #FFF;
			color: #E95429;
			}
	.b-project-header-award .label {
		position: absolute;
		top: 550px;
		left: 611px;
		width: 100px;
		font-size: 10px;
		line-height: 14px;
		color: #727373;
		}