/* Summer layout */
.l-summer-page .l-container {
	background: url('../img/covers/summer.jpg') no-repeat 100% 69px;
	}
.l-summer-page .l-wide-context {
	margin-top: 50px;
	}
.l-summer-page .l-context {
	margin-top: 100px;
	}

/* Background to reduce cover size */
.l-cover-fix {
	min-height: 400px;
	margin: -152px -108px 0 0;
	padding: 152px 108px 0 0;
	background: #FFF;
	}

/* Summer header */
.b-project-header-summer {
	width: 400px;
	height: 224px;
	min-height: auto;
	margin-bottom: 64px;
	}
	.b-project-header-summer .title {
		font-size: 46px;
		}
		.b-project-header-summer .year {
			color: #FFF;
			}

/* Event */
.b-event {
	width: 200px;
	padding-left: 68px;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	}
	.b-event .complex-title {
		margin: 0;
		font-size: 14px;
		line-height: 18px;
		font-weight: normal;
		}
		.b-event .link {
			font-weight: bold;
			color: #0E8A2F;
			}
		.b-event .link:hover {
			color: #27A749;
			}
			.b-event .image {
				float: left;
				margin: -38px -5px 0 -68px;
				}